<div class="todo-main">
  <app-nav 
    [todos]="items"
    [filter]="filterItems"
  ></app-nav>

  <div style="margin-left: 70px;"> 
    <app-form
      [clickHandler]="addItem"
    ></app-form>

    <div class="todo-list" *ngIf="!!items.length; else noTodos">
      <app-item
        *ngFor="let todoItem of items;"
        [item]="todoItem"
        [toggleStatus]="toggleItemStatus"
        [delete]="deleteItem"
      >
      </app-item>
    </div>

    <ng-template #noTodos>
      <p class="todo-list-empty-p">No todos!</p>
    </ng-template>
  </div>
</div>

<router-outlet></router-outlet>